<% provide(:title,'Fridge Program') %>
<%= @ingred %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

<link rel="stylesheet" href="home.css" type="text/css" />
<%= stylesheet_link_tag 'home.css' %>
</head>
<body>
<div class='heading'>
  <h2>  Welcome to the Fridge Program</h2>
</div>
<div class='content'>

<p>
  Here you will in put what you have in your fridge<br />
  (Please seperate each ingredient with a comma.)
  <form name="input" action="html_form_action.asp" method="get">
Ingredients: <input type="text" name="ingred">
<input type="submit" value="Submit">
</form>
</p>

</div>
</body>
</html>
